.portfolio{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.portfolio .aboutHero{
    width: 100%;
    height: 50vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio .aboutHero .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: 1;
}

.portfolio .aboutHero img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    object-position: center;
    z-index: -1;
}

.portfolio .aboutHero .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.portfolio .aboutHero .content h1{
    display: flex;
    font-size: 50px;
    color: var(--color-white);
    font-weight: 600;
}

.portfolio .aboutHero .content p{
    display: flex;
    font-size: 20px;
    color: var(--color-white);
    font-weight: 600;
}

.portfolio .team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.portfolio .team .top{
    background: red;
    padding: 10px 40px;
    border-radius: 20px;
    color: var(--color-white);
    font-size: 24px;
    font-weight: 500;
}

.portfolio .team .teamMembers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 3rem;
}

.portfolio .team .teamMembers .teamCard{
    width: 350px;
    height: 500px;
    border-radius: 30px 0px 30px 0px;
    overflow: hidden;
    position: relative;
}

.portfolio .team .teamMembers .teamCard .overlay{
    position: absolute;
    left: 0;
    bottom: -100%;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9), black);   
    transition: var(--transition);
}

.portfolio .team .teamMembers .teamCard:hover .overlay{
    bottom: 0;
}

.portfolio .teamMembers .teamCard img{
    width: 100%;
    transition: var(--transition);
}

.portfolio .teamMembers .teamCard img:hover{
    transform: scale(1.06);
}


.portfolio .teamMembers .teamCard .info{
    position: absolute;
    z-index: 10;
    bottom: 0;
    background: red;
    width: 100%;
}

.portfolio .teamCard .info .name,
.portfolio .teamCard .info .role{
    background: var(--color-white);
    color: var(--color-dark);
    font-weight: 500;
    padding: 10px;
    font-size: 17px;
    display: flex;
}

.portfolio .teamCard .info .role{
    border-color: var(--primary-bg);
    background: var(--color-white);
    justify-content: flex-end;
    color: var(--color-white);
}

.portfolio .teamCard .info .role a{
    display: flex;
    align-items: center;
    font-size: 19px;
    color: var(--primary-bg);
    gap: 5px;
    text-decoration: none;
    font-weight: 600;
}

.portfolio .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .portfolio .pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .portfolio .pagination button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  .portfolio .pagination span {
    margin: 0 10px;
  }

@media screen and (max-width: 1400px) {
    .portfolio .team .teamMembers{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .portfolio .team .teamMembers{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .portfolio .cardInfo{
        flex-direction: column;
    }

    .portfolio .cardInfo.two{
        flex-direction: column-reverse;
    }

    .portfolio .cardInfo p{
        width: 100%;
    }

    .portfolio .body .card .title{
        width: 100%;
    }

    .portfolio .cardInfo .imgCard img{
        width: 100%;
        width: 350px;
    }
}

@media screen and (max-width: 360px) {
    .portfolio .team .teamMembers .teamCard{
        width: 96%;
    }

    .portfolio .cardInfo .imgCard img{
        width: 100%;
    }
}