.services{
    width: 100%;
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14rem;
    margin-top: 10rem;
}

.services img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.services .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(255, 255, 255, 0.8);
}

.services .content{
    height: 80%;
    width: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.services .content .left,
.services .content .right{
    flex: 1;
}

.services .content .right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-direction: column;
}

.services .content .right .up,
.services .content .right .down{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

.services .content .left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.services .content .left .title{
    font-weight: 500;
    color: var(--primary-color);
    font-size: 18px;
    display: flex;
    gap: 0.2rem;
    align-items: flex-end;
}

.services .content .left .title span{
    width: 45%;
    height: 4px;
    background: var(--primary-color);
}

.services .content .left h1{
    font-size: 40px;
    font-weight: 600;
}

.services .content .left p{
    font-size: 17px;
}

.services .content .left .btn .btnCard{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    background: var(--primary-color);
    color: var(--color-white);
    gap: 0.3rem;
    width: 25%;
    justify-content: center;
    font-weight: 500;
    border: 2px solid var(--primary-color);
    transition: all 400ms ease-in;
}

.services .content .left .btn .btnCard:hover{
    background: transparent;
    color: var(--primary-color);
}

.services .content .right .card{
    flex: 1;
    width: 100%;
    height: 20rem;
    perspective: 1000px;
}

.services .content .right .card .cardInner{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.services .content .right .card .front,
.services .content .right .card .back{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    backface-visibility: hidden;
}

.services .content .right .card .front{
    background: url('../../assets/card/ui.jpg');
    background-size: cover;
    background-position: center;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--color-white);
}

.services .content .right .up .card:first-child .front{
    background: url('../../assets/card/web.jpg');
    background-size: cover;
    background-position: center;
}

.services .content .right .down .card:last-child .front{
    background: url('../../assets/card/market.jpg');
    background-size: cover;
    background-position: center;
}

.services .content .right .card .front h2{
    font-weight: 500;
}

.services .content .right .card .front p{
    color: #ccc;
    font-size: 13px;
}

.services .content .right .card .front button{
    width: 120px;
    border: 1px solid var(--color-white);
    background: transparent;
    border-radius: 50px;
    padding: 8px 20px;
    cursor: pointer;
    margin-top: 20px;
    color: var(--color-white);
}

.services .content .right .card .back{
    background: var(--color-dark);
    color: var(--primary-color);
    padding: 20px 40px;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
}

.services .content .right .card .back h1{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
    margin-top: 50px;
}

.services .content .right .card .back h1 span{
    font-weight: 400;
}

.services .content .right .card .back p{
    font-size: 14px;
}

.services .content .right .card .back img{
    width: 70px;
    height: 60px;
}

.services .content .right .card .back .row{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.services .content .right .card .back .row .col{
    flex: 1;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: relative;
}

.services .content .right .card .back .col h2{
    font-size: 20px;
}

.services .content .right .card .back .col p{
    margin-top: 5px;
}

.services .content .right .card .back button{
    background: var(--color-white);
    color: var(--color-dark);
    border: 0;
    outline: 0;
    padding: 8px 25px;
    border-radius: 30px;
    font-size: 14px;
    margin-right: 15px;
    cursor: pointer;
}

.services .content .right .card:hover .cardInner{
    transform: rotateY(180deg);
}

@media screen and (max-width: 768px) {
    .services{
        margin-top: 7rem;
        height: 90vh;
        margin-bottom: 30rem;
    }

    .services .content{
        flex-direction: column;
    }

    .services .content .right .up,
    .services .content .right .down{
        width: 94vw;
        margin-right: 1rem;
    }

    .services .content .right .up .card{
        height: 22rem;
    }

  }

  @media screen and (max-width: 450px) {
    .services{
        margin-bottom: 94rem;
    }

    .services .content .left .btn .btnCard{
        width: 60%;
    }

    .services .content .right{
        height: 50rem;
        margin-top: 24rem;
    }

    .services .content .right .up,
    .services .content .right .down{
        flex-direction: column;
        width: 90vw;
        height: 125rem;
    }

    .services .content .right .up .card,
    .services .content .right .down .card{
        width: 100%;
        min-height: 22rem;
    }
  }

@media screen and (max-width: 400px) {
    .services{
        margin-bottom: 17rem;
    }    

    .services .content .right .card{
        width: 100%;
        height: 20rem;
    }
}