.navbar{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

.navbar.scroll{
    background: var(--color-white);
    transition: .4s ease-in-out;
}

.navbar.none{
    background: transparent;
}

.navbar.show{
    background: var(--color-white);
}

.navbar .left img{
    width: 180px;
}

.navbar .right .menu{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 17px;
}

.navbar .menu .link{
    border-bottom:  3px solid #ffffff00;
    padding-bottom: 0.1rem;
    transition: all 300ms ease-in;
}

.navbar .menu .link.white{
    color: var(--color-white);
}

.navbar .menu .link.dark{
    color: var(--color-dark);
}

.navbar .menu .link:hover{
    border-bottom:  3px solid var(--primary-color);
}

.navbar .menuIconCard{
    display: none;
}

.navbar .closeIconCard{
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar .left img{
        width: 150px;
    }

    .navbar .menuIconCard{
        display: block;
        background: var(--color-white);
        justify-content: flex-end;
        position: absolute;
        right: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        transition: all 300ms ease-in;
    }

    .navbar .menuIconCard .menuIcon{
        font-size: 40px;
        transition: all 300ms ease-in;
    }

    .navbar .closeIconCard{
        display: block;
        cursor: pointer;
    }

    .navbar .closeIconCard .closeIcon{
        font-size: 40px;
    }

    .navbar .right .menu{
        flex-direction: column;
        position: absolute;
        top: 70px;
        background: var(--color-white);
        color: var(--color-dark);
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.5);
        
        right: -1000px;
    }
    
    .navbar .right .menu.show{
        animation: animate 0.3s linear forwards;
    }

    .navbar .right .menu.hide{
        display: none;
    }

    @keyframes animate {
        0%{
            right: 0;
        }
        100%{
            right: 20px;
        }
    }

    .navbar .menu .link.white,
    .navbar .menu .link.dark{
        color: var(--color-dark);
        font-weight: 600;
        font-size: 18px;

    }
}

@media screen and (max-width: 500px) {
    .navbar .left img{
        width: 120px;
    }
}